<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="../static/styles/form.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="title">Enter the data</div>
      <div class="content">

        <form method="POST" action="{{url_for('index')}}">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Enter Age</span>
              <input
                type="text"
                placeholder="Enter your age"
                name="value1"
                required
              />
            </div>

            <div class="input-box">
              <span class="details">Enter Sex</span>
              <input
                type="text"
                placeholder="1:Male,0:Female"
                name="value2"
                required
              />
            </div>

            <div class="input-box">
              <span class="details">Chest pain</span>
              <input
                type="text"
                placeholder="Enter value{0-3}"
                name="value3"
                required
              />
            </div>

            <div class="input-box">
              <span class="details">Enter resting blood pressure:</span>
              <input type="text" placeholder="Enter your BP" name="value4" required />
            </div>

            <div class="input-box">
              <span class="details">Enter serum cholestoral in</span>
              <input type="text" placeholder="mg/d" name="value5" required />
            </div>

            <div class="input-box">
              <span class="details">Enter fasting blood sugar</span>
              <input
                type="text"
                placeholder="Enter your Blood Sugar"
                name="value6"
                required
              />
            </div>

            <div class="input-box">
              <span class="details"
                >Enter resting electrocardiographic results</span
              >
              <input
                type="text"
                placeholder="Enter electrocardiographic results" name="value7"
                required
              />
            </div>

            <div class="input-box">
              <span class="details">Enter maximum heart rate achieved</span>
              <input type="text" placeholder="" name="value8" required />
            </div>

            <div class="input-box">
              <span class="details">Enter exercise induced angina</span>
              <input type="text" placeholder="" name="value9" required />
            </div>

            <div class="input-box">
              <span class="details"
                >Enter oldpeak(ST depression induced by exercise relative to
                rest)</span
              >
              <input type="text" placeholder="" name="value10" required />
            </div>

            <div class="input-box">
              <span class="details"
                >Enter the slope of the peak exercise ST segment</span
              >
              <input type="text" placeholder="" name="value11" required />
            </div>

            <div class="input-box">
              <span class="details"
                >Enter number of major vessels (0-3) colored by flourosopy</span
              >
              <input type="text" placeholder="" name="value12" required />
            </div>

            <div class="input-box">
              <span class="details">Enter thal</span>
              <input
                type="text"
                placeholder="0 = normal; 1 = fixed defect; 2 = reversable defect" name="value13"
                required
              />
            </div>

            <div class="button">
              <input type="submit" value="PREDICT" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
